<mat-accordion>
  <mat-expansion-panel *ngFor="let versionInfo of changeLogInfos">
    <mat-expansion-panel-header>
      <mat-panel-title>
        version: {{ versionInfo.version }}
      </mat-panel-title>
      <mat-panel-description>
        released: {{ versionInfo.releaseDate | date: "EE, MMM d, y" }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="full-row" [ngClass]="classNameTitle" fxLayout="row" >
      <div fxFlex="20">issueNo</div>
      <div fxFlex="60">title</div>
      <div fxFlex="20">type</div>
    </div>
    <lib-change-log-fix *ngFor="let changeLogFix of versionInfo.fixes" [changeLogFix]="changeLogFix"></lib-change-log-fix>
  </mat-expansion-panel>
</mat-accordion>
