
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bb-itag-angular-change-log-app-primary: mat-palette($mat-indigo);
$bb-itag-angular-change-log-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$bb-itag-angular-change-log-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$bb-itag-angular-change-log-app-theme: mat-light-theme($bb-itag-angular-change-log-app-primary, $bb-itag-angular-change-log-app-accent, $bb-itag-angular-change-log-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($bb-itag-angular-change-log-app-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bb-itag-angular-change-log-app-primary: mat-palette($mat-indigo);
$bb-itag-angular-change-log-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$bb-itag-angular-change-log-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$bb-itag-angular-change-log-app-theme: mat-light-theme($bb-itag-angular-change-log-app-primary, $bb-itag-angular-change-log-app-accent, $bb-itag-angular-change-log-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($bb-itag-angular-change-log-app-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card {
  border: 1px solid rgba(0,0,0,.03);
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}

mat-card-header {
  background-color: mat-color($bb-itag-angular-change-log-app-primary);
  color: mat-color($bb-itag-angular-change-log-app-primary, 50);
  height: 50px;
  border-radius: 5px;
  padding-top: 25px;
  font-size: x-large;
  padding-right: 10px;
}

.spacer {
  flex: 1 1 auto;
}

mat-card-content{
  margin-top: 10px;
  padding: 5px;
}

.changeLogBar {
  background-color: mat-color($bb-itag-angular-change-log-app-primary);
  color: mat-color($bb-itag-angular-change-log-app-primary, 50);
  font-weight: bold;
}
